<a href="https://colab.research.google.com/github/Salvi420/stroke_prediction/blob/main/Stroke_Prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**Mount the google drive and read the file**

In [45]:
from google.colab import drive
drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [46]:
import pandas as pd

In [47]:
train=pd.read_csv('gdrive/My Drive/train.csv')

In [48]:
train.head()

      id  gender   age  ...   bmi   smoking_status stroke
0   9046    Male  67.0  ...  36.6  formerly smoked      1
1  51676  Female  61.0  ...   NaN     never smoked      1
2  31112    Male  80.0  ...  32.5     never smoked      1
3  60182  Female  49.0  ...  34.4           smokes      1
4   1665  Female  79.0  ...  24.0     never smoked      1

[5 rows x 12 columns]

In [49]:
train.isnull().sum()

id                     0
gender                 0
age                    0
hypertension           0
heart_disease          0
ever_married           0
work_type              0
Residence_type         0
avg_glucose_level      0
bmi                  201
smoking_status         0
stroke                 0
dtype: int64

#**Mapping Gender Attributes**

In [50]:
train_test_data=[train]
gender_Mapping = {"Male":1,"Female":0,"Other":2}
for dataset in train_test_data:
  dataset['gender']=dataset['gender'].map(gender_Mapping)

In [51]:
train.head()

      id  gender   age  ...   bmi   smoking_status stroke
0   9046       1  67.0  ...  36.6  formerly smoked      1
1  51676       0  61.0  ...   NaN     never smoked      1
2  31112       1  80.0  ...  32.5     never smoked      1
3  60182       0  49.0  ...  34.4           smokes      1
4   1665       0  79.0  ...  24.0     never smoked      1

[5 rows x 12 columns]

In [52]:
train.isnull().sum()

id                     0
gender                 0
age                    0
hypertension           0
heart_disease          0
ever_married           0
work_type              0
Residence_type         0
avg_glucose_level      0
bmi                  201
smoking_status         0
stroke                 0
dtype: int64

#**Mapping Gender Attributes**


#**Mapping Married Attributes**

In [53]:
married_Mapping = {"Yes":1,"No":0}
for dataset in train_test_data:
  dataset['ever_married']=dataset['ever_married'].map(married_Mapping)

In [54]:
train.head()

      id  gender   age  ...   bmi   smoking_status  stroke
0   9046       1  67.0  ...  36.6  formerly smoked       1
1  51676       0  61.0  ...   NaN     never smoked       1
2  31112       1  80.0  ...  32.5     never smoked       1
3  60182       0  49.0  ...  34.4           smokes       1
4   1665       0  79.0  ...  24.0     never smoked       1

[5 rows x 12 columns]

#**Mapping Residence_type Attributes**

In [55]:
train_test_data=[train]
residence_type_Mapping = {"Urban":0,"Rural":1}
for dataset in train_test_data:
  dataset['Residence_type']=dataset['Residence_type'].map(residence_type_Mapping )

In [56]:
train.head(15)

       id  gender   age  ...   bmi   smoking_status  stroke
0    9046       1  67.0  ...  36.6  formerly smoked       1
1   51676       0  61.0  ...   NaN     never smoked       1
2   31112       1  80.0  ...  32.5     never smoked       1
3   60182       0  49.0  ...  34.4           smokes       1
4    1665       0  79.0  ...  24.0     never smoked       1
5   56669       1  81.0  ...  29.0  formerly smoked       1
6   53882       1  74.0  ...  27.4     never smoked       1
7   10434       0  69.0  ...  22.8     never smoked       1
8   27419       0  59.0  ...   NaN          Unknown       1
9   60491       0  78.0  ...  24.2          Unknown       1
10  12109       0  81.0  ...  29.7     never smoked       1
11  12095       0  61.0  ...  36.8           smokes       1
12  12175       0  54.0  ...  27.3           smokes       1
13   8213       1  78.0  ...   NaN          Unknown       1
14   5317       0  79.0  ...  28.2     never smoked       1

[15 rows x 12 columns]

In [57]:
train.isnull().sum()

id                     0
gender                 0
age                    0
hypertension           0
heart_disease          0
ever_married           0
work_type              0
Residence_type         0
avg_glucose_level      0
bmi                  201
smoking_status         0
stroke                 0
dtype: int64

#**Mapping Work_type Attributes**

In [58]:
work_type_Mapping = {"Private":0,"Self-employed":1,"Govt_job":2,"children":3,"Never_worked":3}
for dataset in train_test_data:
  dataset['work_type']=dataset['work_type'].map(work_type_Mapping )

In [59]:
train.head(10)

      id  gender   age  ...   bmi   smoking_status  stroke
0   9046       1  67.0  ...  36.6  formerly smoked       1
1  51676       0  61.0  ...   NaN     never smoked       1
2  31112       1  80.0  ...  32.5     never smoked       1
3  60182       0  49.0  ...  34.4           smokes       1
4   1665       0  79.0  ...  24.0     never smoked       1
5  56669       1  81.0  ...  29.0  formerly smoked       1
6  53882       1  74.0  ...  27.4     never smoked       1
7  10434       0  69.0  ...  22.8     never smoked       1
8  27419       0  59.0  ...   NaN          Unknown       1
9  60491       0  78.0  ...  24.2          Unknown       1

[10 rows x 12 columns]

#**Mapping smoking_status Attributes**

In [60]:
smoking_Mapping = {"formerly smoked":0,"smokes":1,"never smoked":2,"Unknown":3}
for dataset in train_test_data:
  dataset['smoking_status']=dataset['smoking_status'].map(smoking_Mapping )

In [61]:
train.head(70)

       id  gender   age  ...   bmi  smoking_status  stroke
0    9046       1  67.0  ...  36.6               0       1
1   51676       0  61.0  ...   NaN               2       1
2   31112       1  80.0  ...  32.5               2       1
3   60182       0  49.0  ...  34.4               1       1
4    1665       0  79.0  ...  24.0               2       1
..    ...     ...   ...  ...   ...             ...     ...
65  17013       1  78.0  ...  24.0               2       1
66  17004       0  70.0  ...  47.5               2       1
67  72366       1  76.0  ...  20.3               3       1
68   6118       1  59.0  ...  30.0               0       1
69   7371       0  80.0  ...  28.9               2       1

[70 rows x 12 columns]

In [62]:
train.isnull().sum()

id                     0
gender                 0
age                    0
hypertension           0
heart_disease          0
ever_married           0
work_type              0
Residence_type         0
avg_glucose_level      0
bmi                  201
smoking_status         0
stroke                 0
dtype: int64

In [63]:
train_test_data=[train]
for dataset in train_test_data:
  dataset.loc[ dataset['age'] <=17, 'age']=0
  dataset.loc[ (dataset['age'] >17) & (dataset['age'] <=27), 'age']=1
  dataset.loc[ (dataset['age'] >27) & (dataset['age'] <=37), 'age']=2
  dataset.loc[ (dataset['age'] >37) & (dataset['age'] <=61), 'age']=3
  dataset.loc[ dataset['age'] >61, 'age']=4

In [64]:
train.head()

      id  gender  age  ...   bmi  smoking_status  stroke
0   9046       1  4.0  ...  36.6               0       1
1  51676       0  3.0  ...   NaN               2       1
2  31112       1  4.0  ...  32.5               2       1
3  60182       0  3.0  ...  34.4               1       1
4   1665       0  4.0  ...  24.0               2       1

[5 rows x 12 columns]

#**Glucose Level**

In [65]:
for dataset in train_test_data:
  dataset.loc[ dataset['avg_glucose_level'] <=50, 'avg_glucose_level']=0
  dataset.loc[ (dataset['avg_glucose_level'] >50) & (dataset['avg_glucose_level'] <=80), 'avg_glucose_level']=1
  dataset.loc[ (dataset['avg_glucose_level'] >80) & (dataset['avg_glucose_level'] <=115), 'avg_glucose_level']=2
  dataset.loc[ dataset['avg_glucose_level'] >115, 'avg_glucose_level']=3

In [66]:
train.head()

      id  gender  age  ...   bmi  smoking_status  stroke
0   9046       1  4.0  ...  36.6               0       1
1  51676       0  3.0  ...   NaN               2       1
2  31112       1  4.0  ...  32.5               2       1
3  60182       0  3.0  ...  34.4               1       1
4   1665       0  4.0  ...  24.0               2       1

[5 rows x 12 columns]

#**Filling Missing value of bmi**

In [67]:
train["bmi"].fillna(train.groupby("age")["bmi"].transform("median"), inplace=True)

In [68]:
train.isnull().sum()

id                   0
gender               0
age                  0
hypertension         0
heart_disease        0
ever_married         0
work_type            0
Residence_type       0
avg_glucose_level    0
bmi                  0
smoking_status       0
stroke               0
dtype: int64

#**BMI**

In [69]:
for dataset in train_test_data:
  dataset.loc[ dataset['bmi'] <=18.5, 'bmi']=0
  dataset.loc[ (dataset['bmi'] >18.5) & (dataset['bmi'] <=25), 'bmi']=1
  dataset.loc[ (dataset['bmi'] >25) & (dataset['bmi'] <=30), 'bmi']=2
  dataset.loc[ dataset['bmi'] >30, 'bmi']=3

In [70]:
train.head()

      id  gender  age  ...  bmi  smoking_status  stroke
0   9046       1  4.0  ...  3.0               0       1
1  51676       0  3.0  ...  3.0               2       1
2  31112       1  4.0  ...  3.0               2       1
3  60182       0  3.0  ...  3.0               1       1
4   1665       0  4.0  ...  1.0               2       1

[5 rows x 12 columns]

#**Drop Unnecessary columns**

In [71]:
train.drop('id', axis=1,inplace=True)

In [72]:
train.head()

   gender  age  hypertension  ...  bmi  smoking_status  stroke
0       1  4.0             0  ...  3.0               0       1
1       0  3.0             0  ...  3.0               2       1
2       1  4.0             0  ...  3.0               2       1
3       0  3.0             0  ...  3.0               1       1
4       0  4.0             1  ...  1.0               2       1

[5 rows x 11 columns]

#**dividing the dataset**

In [73]:
train_data=train.drop('stroke', axis=1)
target=train['stroke']
train_data.shape, target.shape

((5110, 10), (5110,))

#**Splitting the dataset train and test data**

In [74]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(train_data,target,test_size=.30,random_state=42)
print("X_train ", X_train.shape)
print("X_test ", X_test.shape)
print("y_train ", y_train.shape)
print("y_test ", y_test.shape)
print(y_test)
y_test.value_counts()

X_train  (3577, 10)
X_test  (1533, 10)
y_train  (3577,)
y_test  (1533,)
4688    0
4478    0
3849    0
4355    0
3826    0
       ..
818     0
4829    0
611     0
3082    0
3407    0
Name: stroke, Length: 1533, dtype: int64

0    1444
1      89
Name: stroke, dtype: int64

#**Train the dataset**

In [75]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
dt=RandomForestClassifier()
dt.fit(X_train,y_train)
y_pred=dt.predict(X_test)

#**performence Evaluation**

In [76]:
from sklearn.metrics import confusion_matrix,classification_report
print(confusion_matrix(y_test,y_pred))
print(classification_report(y_test,y_pred))

[[1423   21]
 [  88    1]]
              precision    recall  f1-score   support

           0       0.94      0.99      0.96      1444
           1       0.05      0.01      0.02        89

    accuracy                           0.93      1533
   macro avg       0.49      0.50      0.49      1533
weighted avg       0.89      0.93      0.91      1533

#**Calculating Accuracy**

In [77]:
from sklearn.metrics import accuracy_score
print(accuracy_score(y_test,y_pred))

0.928897586431833